*{
  font-family: "roboto", sans-serif;
}
.daiventest{
  color:blue;
}
.intro-description{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.intro-description box{
  width:80%;
}
.intro-description h1{
  font-size:75px;
}
.intro-description h5{
  font-size:25px;
}
.intro-description h3{
  font-size:30px;
}
.intro-description .intro-bg{
  background: #ff9191;
  border-radius: 20px 20px 20px 0px;
  padding: 0px 30px;
  max-width: fit-content;
}
.intro-image{
  display:flex;
  justify-content: center;
}
.intro-image img{
  height: 400px;
  width: 400px;
  border: solid red 5px;
  border-radius: 50%;
}
.intro-description li i{
  width:30px;
/*   height:30px; */
}
.profile-intro{
  height:500px;
}